{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}" class="img-fluid">
        <h3>Description:</h3>
        <p>{{ pizza.description }}</p>
      </div>

      <div class="col-md-4">
        <h1>{{ pizza.name }}</h1>
        <h3>Ingredients:</h3>

        <ul>
          {% for ingredient in pizza.ingredients.all %}
            <li>{{ ingredient.name }}</li>
          {% endfor %}
        </ul>

        <h3>Price:</h3>
        {% if size == "Small" %}
          <p>Small: {{ pizza.get_prices.Small }} UAH</p>
        {% endif %}
        {% if size == "Medium" %}
          <p>Medium: {{ pizza.get_prices.Medium }} UAH</p>
        {% endif %}
        {% if size == "Big" %}
          <p>Big: {{ pizza.get_prices.Big }} UAH</p>
        {% endif %}
      </div>

      <!-- Right column: Editing Ingredients -->
      <div class="col-md-4">
        <h3>Change ingredients:</h3>

        <form method="post" action="{% url 'pizza:update-pizza-ingredients' pizza.id %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <h4>Sauces:</h4>
              {% for ingredient in sauce %}
                <ul>
                  {% include "includes/ingredients_list.html" %}
                </ul>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <h4>Vegetables:</h4>
              {% for ingredient in vegetable %}
                <ul>
                  {% include "includes/ingredients_list.html" %}
                </ul>
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <h4>Meat:</h4>
              {% for ingredient in meat %}
                <ul>
                  {% include "includes/ingredients_list.html" %}
                </ul>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <h4>Cheese:</h4>
              {% for ingredient in cheese %}
                <ul>
                  {% include "includes/ingredients_list.html" %}
                </ul>
              {% endfor %}
            </div>

          </div>

          <div class="row">
            <div class="col-md-6">
              <h4>Fruits:</h4>
              {% for ingredient in fruit %}
                <ul>
                  {% include "includes/ingredients_list.html" %}
                </ul>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <h4>Cheese edge:</h4>
              {% for ingredient in edge %}
                <ul>
                  {% include "includes/ingredients_list.html" %}
                </ul>
              {% endfor %}
            </div>

          </div>


          <input type="hidden" value="{{ size }}" name="size">
          <button type="submit" class="btn btn-primary">Update Ingredients</button>
        </form>

        <h3>Order Now</h3>
        <button type="button" class="btn btn-success">Order Pizza</button>
      </div>
    </div>
  </div>
{% endblock %}